<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmute.edu.vn.nttgiang18110275">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mint_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject">

        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.MainActivity"
            android:label="@string/activity_login"
            android:theme="@style/noTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.SignUpActivity"
            android:theme="@style/noTitle" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="hcmute.edu.vn.nttgiang18110275"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.HomePageActivity"
            android:theme="@style/noTitle" />
        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.MyInfoActivity"
            android:theme="@style/noTitle" />
        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.CartActivity"
            android:theme="@style/noTitle" />
        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.FoodActivity"
            android:theme="@style/noTitle" />
        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.FoodDetailActivity"
            android:theme="@style/noTitle" />
        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.RateActivity"
            android:theme="@style/themeRate" />
        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.CartDetailActivity"
            android:theme="@style/noTitle" />
        <activity
            android:name="hcmute.edu.vn.nttgiang18110275.ConfirmAddressActivity"
            android:theme="@style/noTitle" />
        <activity android:name="hcmute.edu.vn.nttgiang18110275.OrderDetailActivity"
            android:theme="@style/noTitle"></activity>
    </application>

</manifest>